 body{
            padding: 0;
            margin: 0;
        }
 #navbar{
            background-color: black;
            color: white;
            display: flex;
            height: 80px;
            width: 100%;
            justify-content: center;
        }