<!doctype html>
<html lang="en">
  <head>
    <title>First App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.css') }}">
  </head>
  
  <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Welcome to {{title}}</a> 
          </div>
        </div>
      </nav>
      
<div class="container">    

{% if update_todo %}
<form action="{{ url_for('.update',id = update_todo.id) }}" class="col-xs-4 form-inline" method="POST">
    <div class="form-group">
      <label for="task">Task : </label>
        <input type="text" name="task" placeholder="Enter Any Task..." class="form-control" value="{{ update_todo.task }}" id="task" required>
        <button type="submit" class="btn btn-info">Update</button>
    </div>
</form>
{% else %}
<form action="{{ url_for('.add') }}" class="col-xs-4 form-inline" method="POST">
    <div class="form-group">
      <label for="task">Task : </label>
        <input type="text" name="task" placeholder="Enter Any Task..." class="form-control" id="task" required>
        <button type="submit" class="btn btn-info">Add Task</button>
    </div>
</form>
{% endif %}
</div>

<div class="container">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Task</th>
        <th>Date Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {% for todo in todos %}
      <tr>
        <td>{{ todo.id }}</td>
        <td>{{ todo.task }}</td>
        <td>{{ todo.date }}</td>
        <td>
         <a class="btn btn-success mr-2" href="{{ url_for('.update', id = todo.id) }}">Update</a>
         <a class="btn btn-danger mr-2" href="{{ url_for('.delete', id = todo.id) }}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
  
  </body>
  
</html> 
